API_KEY=secret_api_key
TEMPORARY_DIRECTORY=/tmp/backrank-mate
REDDIT_CLIENT_ID=reddit_client
REDDIT_CLIENT_SECRET=reddit_secret
DB_HOST=secret
DB_PORT=secret
DB_USER=secret
DB_PASSWORD=secret
DB_DATABASE=secret